.quantity {
    display: flex;
    margin: 10px auto;
    &__modifier, &__input {
        width: 50px;
        height: 50px;

    }
    &__modifier {
        border: none;
        box-shadow: 5px  5px 15px rgba(0, 0, 0, 0.35);
        transition: box-shadow 0.5s;
        background-color: #fff;
        &_left {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        &_right {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &:hover {
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
        }
        cursor: pointer;
    }
    &__input {
        text-align: center;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        outline:none;

    }
}