* {
	box-sizing: border-box;
}

.btn {
	margin: 20px 30px;
	background:linear-gradient(to bottom, #FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
	border-radius: 15px;
	border: 1px solid  #B3B3B3;
	width: 200px;
	height: 50px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	display:block;
	font-size: 18px;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	transition-duration: 0.3s;
	transform: translateZ(0);
	&:hover {
		transform: translateY(-5px);
	}
	&_add {
		margin: 20px auto;
	}
}
.container { 
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 500px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.quantity {
    display: flex;
    margin: 10px auto;
    &__modifier, &__input {
        min-width: 50px;
        height: 50px;
    }
    &__modifier {
        border: none;
        box-shadow: 5px  5px 15px rgba(0, 0, 0, 0.35);
        transition: box-shadow 0.5s;
        background-color: #fff;
        &_left {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        &_right {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &:hover {
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
        }
        cursor: pointer;
    }
    &__input {
        max-width: 100px;
        text-align: center;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        outline:none;
    }
}